@keyframes myAnim {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
.center-outer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #303443;
  color: #fff;
}

.divimgcontacto {
  height: 200px;
}

img {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

img {
  box-shadow: none !important;
}

.img-back-inicio {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/indexbackground.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  color: #fff;
}

img {
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .center-outer-container {
    top: calc(50% - 25px);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  .letraclara {
    color: #fff;
  }
}
@media (max-width: 991px) {
  .card-img-top {
    height: 150px;
  }
  .cont-imagen {
    height: 150px;
  }
  .card {
    height: 370px;
  }
}
@media (max-width: 767px) {
  .card-img-top {
    height: 120px;
  }
  .cont-imagen {
    height: 120px;
  }
  .card {
    height: 400px;
  }
}
@media (max-width: 424px) {
  .card-img-top {
    height: 80px;
  }
  .cont-imagen {
    height: 80px;
  }
  .card {
    height: 470px;
  }
}
.divbotonessobremi {
  height: 100px;
}

img {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
}

.colorbg {
  background: #020024;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(20, 34, 85) 10%, rgb(34, 60, 121) 20%, rgb(53, 94, 169) 30%, rgb(64, 114, 197) 40%, rgb(80, 142, 237) 50%, rgb(59, 160, 242) 60%, rgb(53, 166, 244) 70%, rgb(38, 178, 247) 80%, rgb(27, 188, 249) 90%, rgb(14, 199, 252) 100%);
}

.tituloclaro {
  color: #fff;
}

.colorw {
  background-color: #fff;
}

.cont-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.cont-imagen img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

.divtitulo {
  height: 200px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card-container div {
  width: 250px;
  height: 250px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  background-color: #ccc;
}
.card-container div img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.card-container div h3 {
  margin-top: 10px;
  color: #000;
}

.rad-img {
  border-radius: 15px;
}

section footer.fixed-bottom div {
  background-color: #303443 !important;
  color: #fff !important;
}

.navbar {
  background-color: #303443 !important;
  padding: 10px;
}
.navbar a.nav-link {
  color: #fff !important;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  position: relative;
  border-radius: 20px;
}
.navbar a.nav-link:hover {
  background: #508EED;
  border-radius: 20px;
}

.btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: myAnim 3s linear 0s infinite normal none;
  background: #39BA94;
  border: none;
  border: 1px solid #000;
}

.btn {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: #39BA94;
  border: none;
  border-radius: 20px;
  border: 1px solid #000;
}

.imgbackground {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */