//VARIABLES
$color-Azul: #508EED;
$color-Blanco: #fff;
$color-Gris-oscuro: #303443;
$color-Gris: #ccc;
$color-Negro: #000;
$color-Verde: #39BA94;
$color-NAOscuro: #020024;
$gradiente-NegroAzul: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(20, 34, 85, 1) 10%, rgba(34, 60, 121, 1) 20%, rgba(53, 94, 169, 1) 30%, rgba(64, 114, 197, 1) 40%, rgba(80, 142, 237, 1) 50%, rgba(59, 160, 242, 1) 60%, rgba(53, 166, 244, 1) 70%, rgba(38, 178, 247, 1) 80%, rgba(27, 188, 249, 1) 90%, rgba(14, 199, 252, 1) 100%);